<h3>- Auth0 Authenticiation Results -</h3>
<ul class="list-group">
    <li class='list-group-item'>Unique User ID: {{{user_id}}}</li>
    <li class='list-group-item'>New Auth0 JWT ID_Token: {{{user}}}</li>
</ul>
<br><br>
<div class="row">
    <div class="col text-center">
        <button type="button" id="Auth0_logout" class="btn btn-primary btn-lg" align = "center" 
            onclick="location.href = '{{{logout}}}';">
            Auth0 Log Out
        </button>
    </div>
</div>
