<h1>Auth0 Demo Page:</h1>

<!-- Button to Initialize OAuth 2.0 approval --->
<br><br>
<div class="row">
    <div class="col text-center">
        <button type="button" id="Auth0_login" class="btn btn-primary btn-lg" align = "center" 
            onclick="location.href = '{{{Auth0_Redirect}}}';">
            Begin Auth0_login
        </button>
    </div>
</div>